In [1]:
import pandas as pd

In [2]:
calendar = pd.read_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\calendar1.csv')
print(calendar.head())

         date    weekday  weekday_int    d event
0  2011-01-29   Saturday            1  d_1   NaN
1  2011-01-30     Sunday            2  d_2   NaN
2  2011-01-31     Monday            3  d_3   NaN
3  2011-02-01    Tuesday            4  d_4   NaN
4  2011-02-02  Wednesday            5  d_5   NaN

In [4]:
prices = pd.read_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\prices1.csv')
print(prices.head())

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414
1  ACCESORIES_1_001  ACCESORIES      NYC_1  201329.0     12.7414
2  ACCESORIES_1_001  ACCESORIES      NYC_1  201330.0     10.9858
3  ACCESORIES_1_001  ACCESORIES      NYC_1  201331.0     10.9858
4  ACCESORIES_1_001  ACCESORIES      NYC_1  201332.0     10.9858

In [5]:
sales = pd.read_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\sales1.csv')
print(sales.head())

                       id              item    category    department  \
0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1  ACCESORIES_1_002_NYC_1  ACCESORIES_1_002  ACCESORIES  ACCESORIES_1
2  ACCESORIES_1_003_NYC_1  ACCESORIES_1_003  ACCESORIES  ACCESORIES_1
3  ACCESORIES_1_004_NYC_1  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
4  ACCESORIES_1_005_NYC_1  ACCESORIES_1_005  ACCESORIES  ACCESORIES_1

               store store_code    region  d_1  d_2  d_3  ...  d_1904  d_1905  \
0  Greenwich_Village      NYC_1  New York    0    0    0  ...       1       3
1  Greenwich_Village      NYC_1  New York    0    0    0  ...       0       0
2  Greenwich_Village      NYC_1  New York    0    0    0  ...       2       1
3  Greenwich_Village      NYC_1  New York    0    0    0  ...       1       0
4  Greenwich_Village      NYC_1  New York    0    0    0  ...       2       1

   d_1906  d_1907  d_1908  d_1909  d_1910  d_1911  d_1912  d_1913
0       0       1       1       1       3       0       1       1
1       0       0       0       1       0       0       0       0
2       2       1       1       1       0       1       1       1
3       5       4       1       0       1       3       7       2
4       1       0       1       1       2       2       2       4

[5 rows x 1920 columns]

#1. limpieza y calidad de datos

Conteo de datos

In [6]:
number_of_entries_in_sales = len(sales)
number_of_entries_in_sales

30490

In [7]:
number_of_entries_in_prices = len(prices)
number_of_entries_in_prices

6965706

In [8]:
total_items_count = prices['item'].count()
total_items_count

6965706

In [9]:
number_of_entries_in_calendar = len(calendar)
number_of_entries_in_calendar

1913

1.1 hay nulls?

In [10]:
##no hay NULLS en sales
sales_calidad = sales.isnull().sum()
sales_calidad

id            0
item          0
category      0
department    0
store         0
             ..
d_1909        0
d_1910        0
d_1911        0
d_1912        0
d_1913        0
Length: 1920, dtype: int64

In [11]:
# existen 243.920 nulls en la columna yearweek ¿preguntar que hacemos con esto?
prices_calidad = prices.isnull().sum()
prices_calidad

item               0
category           0
store_code         0
yearweek      243920
sell_price         0
dtype: int64

In [12]:
# existen 1.887 nulls en la columna event. se asume como supuesto que no hubieron eventos
calendar_calidad = calendar.isnull().sum()
calendar_calidad

date              0
weekday           0
weekday_int       0
d                 0
event          1887
dtype: int64

conclución:
1. Existen 243.920 nulls en la columna yearweek de un total de 6.965.706, un 3.5% es null preguntar que hacemos con esto?
2. Existen 1.887 nulls en la columna event. Se asume como supuesto que no hubo eventos en esos días. ¿Es correcto?

**Como equipo debemos generar preguntas al TUTOR**

1.2 verificación de datos

In [13]:
sales_dtypes = sales.dtypes
sales_dtypes

id            object
item          object
category      object
department    object
store         object
               ...
d_1909         int64
d_1910         int64
d_1911         int64
d_1912         int64
d_1913         int64
Length: 1920, dtype: object

In [14]:
prices_dtypes = prices.dtypes
prices_dtypes

item           object
category       object
store_code     object
yearweek      float64
sell_price    float64
dtype: object

In [15]:
calendar_dtypes = calendar.dtypes
calendar_dtypes

date           object
weekday        object
weekday_int     int64
d              object
event          object
dtype: object

Conclusión:
1. La estructura de la base de datos sales debe someterse a una transformación, ya que los días y las ventas están en formato filas, estas deben convertirse a columnas y así converse con la base de datos calendar.
2. La base de datos calendar y prices poseen datos de fecha, pero en formatos distintos, caledar tiene el formato fecha completa "date:dia-mes-año" y price "yearweek:año-numerodelasemana". La base de datos calendar se le debe agregar una columna "yearweek", para facilitar futuros análisis con la base de datos prices.

1.3 Consistencia de Nombres de category y item:

In [16]:
#comprobar categorias unicas
unique_categories_sales = set(sales['category'].unique())
unique_categories_prices = set(prices['category'].unique())
print("Diferencias en categorías:", unique_categories_sales.symmetric_difference(unique_categories_prices))

Diferencias en categorías: set()

In [17]:
#comparar nombres de productos unicos
unique_items_sales = set(sales['item'].unique())
unique_items_prices = set(prices['item'].unique())
print("Diferencias en nombres de productos:", unique_items_sales.symmetric_difference(unique_items_prices))

Diferencias en nombres de productos: set()

conclución:
1. los resultados indican que no hay diferencias entre las columnas category y los item en las bases de datos Sales y Prices

1.4 Consistencia de Códigos de Tienda:

In [18]:
unique_store_codes_sales = set(sales['store_code'].unique())
unique_store_codes_prices = set(prices['store_code'].unique())
print("Diferencias en códigos de tienda:", unique_store_codes_sales.symmetric_difference(unique_store_codes_prices))

Diferencias en códigos de tienda: set()

conclución:
1. los resultados indican que no hay diferencias entre las store_code en las bases de datos Sales y Prices

1.5 Buscar duplicados

In [19]:
duplicated_sales = sales[sales.duplicated()]
print("Duplicados en Sales:", duplicated_sales)

Duplicados en Sales: Empty DataFrame
Columns: [id, item, category, department, store, store_code, region, d_1, d_2, d_3, d_4, d_5, d_6, d_7, d_8, d_9, d_10, d_11, d_12, d_13, d_14, d_15, d_16, d_17, d_18, d_19, d_20, d_21, d_22, d_23, d_24, d_25, d_26, d_27, d_28, d_29, d_30, d_31, d_32, d_33, d_34, d_35, d_36, d_37, d_38, d_39, d_40, d_41, d_42, d_43, d_44, d_45, d_46, d_47, d_48, d_49, d_50, d_51, d_52, d_53, d_54, d_55, d_56, d_57, d_58, d_59, d_60, d_61, d_62, d_63, d_64, d_65, d_66, d_67, d_68, d_69, d_70, d_71, d_72, d_73, d_74, d_75, d_76, d_77, d_78, d_79, d_80, d_81, d_82, d_83, d_84, d_85, d_86, d_87, d_88, d_89, d_90, d_91, d_92, d_93, ...]
Index: []

[0 rows x 1920 columns]

In [20]:
duplicated_prices = prices[prices.duplicated()]
print("Duplicados en Prices:", duplicated_prices)

Duplicados en Prices:                       item     category store_code  yearweek  sell_price
150       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN     11.1454
151       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN     11.1454
152       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN     11.1454
153       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN     11.1454
154       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN     11.1454
...                    ...          ...        ...       ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000

[212120 rows x 5 columns]

In [21]:
duplicated_calendar = calendar[calendar.duplicated()]
print("Duplicados en Calendar:", duplicated_calendar)

Duplicados en Calendar: Empty DataFrame
Columns: [date, weekday, weekday_int, d, event]
Index: []

Conclusión:
1. las bases de datos calendar y sales dieron un resultado "Empty DataFrame", Significa que no hay filas duplicadas en este conjunto de datos.
2. prices indica la presencia de 212.120 filas duplicadas, esto no significa que el resultado sea incorrecto, ya que son los precios de venta de cada producto y estos pueden repetirse en las tres regiones.
3. Anteriormente en la base de datos prices pudimos observar que la columna yearweek posee nulls o Nan hay que entender la gravedad de este resultado.

**Como equipo debemos generar preguntas al TUTOR**

Validar la información con el negocio:
¿cual es su politica de precios?
¿por que hay null en la base de datos calendar?

2. Transformación de base de datos Calendar yearweek

In [33]:
#se convierte la columna "date" a formato fecha
calendar['date'] = pd.to_datetime(calendar['date'])

In [34]:
#se creara la columna "yearweek"
# con "strftime" '%Y' se extrae el año y '%U' se extrae el numero de la semana

calendar['yearweek'] = calendar['date'].dt.strftime('%Y%U')
calendar

           date    weekday  weekday_int       d event yearweek
0    2011-01-29   Saturday            1     d_1   NaN   201104
1    2011-01-30     Sunday            2     d_2   NaN   201105
2    2011-01-31     Monday            3     d_3   NaN   201105
3    2011-02-01    Tuesday            4     d_4   NaN   201105
4    2011-02-02  Wednesday            5     d_5   NaN   201105
...         ...        ...          ...     ...   ...      ...
1908 2016-04-20  Wednesday            5  d_1909   NaN   201616
1909 2016-04-21   Thursday            6  d_1910   NaN   201616
1910 2016-04-22     Friday            7  d_1911   NaN   201616
1911 2016-04-23   Saturday            1  d_1912   NaN   201616
1912 2016-04-24     Sunday            2  d_1913   NaN   201617

[1913 rows x 6 columns]

In [35]:
#base de datos nueva y trasnformada, se procede a descargar y ver la en Power BI
calendar.to_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\Bases de datos modificadas\calendar.csv', index=False)

3. trasnformación de la base de datos sales

In [26]:
#trasnformación de la base de datos, se agregaran dos columnas d y sales
sales_melted = sales.melt(id_vars=['id', 'item', 'category', 'store_code', 'region', 'store', 'department'],
                          var_name='d',
                          value_name='sales')
print(sales_melted.head())

                       id              item    category store_code    region  \
0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001  ACCESORIES      NYC_1  New York
1  ACCESORIES_1_002_NYC_1  ACCESORIES_1_002  ACCESORIES      NYC_1  New York
2  ACCESORIES_1_003_NYC_1  ACCESORIES_1_003  ACCESORIES      NYC_1  New York
3  ACCESORIES_1_004_NYC_1  ACCESORIES_1_004  ACCESORIES      NYC_1  New York
4  ACCESORIES_1_005_NYC_1  ACCESORIES_1_005  ACCESORIES      NYC_1  New York

               store    department    d  sales
0  Greenwich_Village  ACCESORIES_1  d_1      0
1  Greenwich_Village  ACCESORIES_1  d_1      0
2  Greenwich_Village  ACCESORIES_1  d_1      0
3  Greenwich_Village  ACCESORIES_1  d_1      0
4  Greenwich_Village  ACCESORIES_1  d_1      0

In [27]:
#se cruzara la base de datos calendar con sales, utilizando las columnas d para agregar la columna yearweek a la base de datos sales
---sales_with_yearweek = sales_melted.merge(calendar[['d', 'yearweek']], on='d', how='left')
---sales_with_yearweek

,id,item,category,store_code,region,store,department,d,sales,yearweek
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,201104
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,201104
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,201104
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,201104
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,201104
...,...,...,...,...,...,...,...,...,...,...
58327365,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,201617
58327366,SUPERMARKET_3_824_PHI_3,SUPERMARKET_3_824,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,201617
58327367,SUPERMARKET_3_825_PHI_3,SUPERMARKET_3_825,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,201617
58327368,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,3,201617
58327369,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,201617

In [43]:
#se cruzara la base de datos calendar con sales, utilizando las columnas d para agregar la columna date a la base de datos sales
sales_with_date = sales_melted.merge(calendar[['d', 'date']], on='d', how='left')
sales_with_date

,id,item,category,store_code,region,store,department,d,sales,date
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29
...,...,...,...,...,...,...,...,...,...,...
58327365,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,2016-04-24
58327366,SUPERMARKET_3_824_PHI_3,SUPERMARKET_3_824,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24
58327367,SUPERMARKET_3_825_PHI_3,SUPERMARKET_3_825,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24
58327368,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,3,2016-04-24
58327369,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24

In [44]:
#se cruzara la base de datos calendar con sales, utilizando las columnas d para agregar la columna event a la base de datos sales
sales_with_date_event = sales_with_date.merge(calendar[['d', 'event']], on='d', how='left')
sales_with_date_event

,id,item,category,store_code,region,store,department,d,sales,date,event
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,0,2011-01-29,NaN
...,...,...,...,...,...,...,...,...,...,...,...
58327365,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,2016-04-24,NaN
58327366,SUPERMARKET_3_824_PHI_3,SUPERMARKET_3_824,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24,NaN
58327367,SUPERMARKET_3_825_PHI_3,SUPERMARKET_3_825,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24,NaN
58327368,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,3,2016-04-24,NaN
58327369,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,0,2016-04-24,NaN

In [46]:
sales_filtered = sales_with_date_event[sales_with_date_event['sales'] >= 1]
sales_filtered

,id,item,category,store_code,region,store,department,d,sales,date,event
7,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,12,2011-01-29,NaN
8,ACCESORIES_1_009_NYC_1,ACCESORIES_1_009,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,2,2011-01-29,NaN
14,ACCESORIES_1_015_NYC_1,ACCESORIES_1_015,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,4,2011-01-29,NaN
15,ACCESORIES_1_016_NYC_1,ACCESORIES_1_016,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,5,2011-01-29,NaN
21,ACCESORIES_1_022_NYC_1,ACCESORIES_1_022,ACCESORIES,NYC_1,New York,Greenwich_Village,ACCESORIES_1,d_1,2,2011-01-29,NaN
...,...,...,...,...,...,...,...,...,...,...,...
58327361,SUPERMARKET_3_819_PHI_3,SUPERMARKET_3_819,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,2,2016-04-24,NaN
58327362,SUPERMARKET_3_820_PHI_3,SUPERMARKET_3_820,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,2016-04-24,NaN
58327364,SUPERMARKET_3_822_PHI_3,SUPERMARKET_3_822,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,2016-04-24,NaN
58327365,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,1,2016-04-24,NaN
58327368,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,PHI_3,Philadelphia,Queen_Village,SUPERMARKET_3,d_1913,3,2016-04-24,NaN

In [47]:
number_of_entries_in_prices = len(sales_filtered)
number_of_entries_in_prices

18550276

In [48]:
#base de datos sales nueva y trasnformada, se procede a descargar y ver la en Power BI
sales_with_date_event.to_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\Bases de datos modificadas\sales_with_date_event.csv', index=False)

#5. Cruce entre Region y store_code con las tablas sales y prices para crear una columna region en la base de datos prices

In [12]:
#se hará un mapeo que identifique las coincidencias entre region y store_code y así generar un diccionario

In [49]:
region_mapeo = sales[['store','store_code', 'region']].drop_duplicates()

In [50]:
#conprobar mapeo, se puede ver como si fuese un diccionario
region_mapeo

                   store store_code        region
0      Greenwich_Village      NYC_1      New York
3049              Harlem      NYC_2      New York
6098             Tribeca      NYC_3      New York
9147            Brooklyn      NYC_4      New York
12196          South_End      BOS_1        Boston
15245            Roxbury      BOS_2        Boston
18294           Back_Bay      BOS_3        Boston
21343    Midtown_Village      PHI_1  Philadelphia
24392           Yorktown      PHI_2  Philadelphia
27441      Queen_Village      PHI_3  Philadelphia

In [51]:
# aca se agregados columna en la tabla prices llamada store y region, basandome en el mapeo anterior
prices_region = prices.merge(region_mapeo, on='store_code', how='left')

In [52]:
#conprobar nueva columna, se puede ver como se creo la columna region
prices_region

,item,category,store_code,yearweek,sell_price,store,region
0,ACCESORIES_1_001,ACCESORIES,NYC_1,201328.0,12.7414,Greenwich_Village,New York
1,ACCESORIES_1_001,ACCESORIES,NYC_1,201329.0,12.7414,Greenwich_Village,New York
2,ACCESORIES_1_001,ACCESORIES,NYC_1,201330.0,10.9858,Greenwich_Village,New York
3,ACCESORIES_1_001,ACCESORIES,NYC_1,201331.0,10.9858,Greenwich_Village,New York
4,ACCESORIES_1_001,ACCESORIES,NYC_1,201332.0,10.9858,Greenwich_Village,New York
...,...,...,...,...,...,...,...
6965701,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia
6965702,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia
6965703,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia
6965704,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia
6965705,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia

In [53]:
#se crea la nueva columna ID en la base de datos prices, se hace un concatenar ente item y store_code, se llego a esta conclusion observando
#el mismo patron en la base de datos sales
prices_region['id'] = prices_region['item'] + "_" + prices_region['store_code']
prices_region

,item,category,store_code,yearweek,sell_price,store,region,id
0,ACCESORIES_1_001,ACCESORIES,NYC_1,201328.0,12.7414,Greenwich_Village,New York,ACCESORIES_1_001_NYC_1
1,ACCESORIES_1_001,ACCESORIES,NYC_1,201329.0,12.7414,Greenwich_Village,New York,ACCESORIES_1_001_NYC_1
2,ACCESORIES_1_001,ACCESORIES,NYC_1,201330.0,10.9858,Greenwich_Village,New York,ACCESORIES_1_001_NYC_1
3,ACCESORIES_1_001,ACCESORIES,NYC_1,201331.0,10.9858,Greenwich_Village,New York,ACCESORIES_1_001_NYC_1
4,ACCESORIES_1_001,ACCESORIES,NYC_1,201332.0,10.9858,Greenwich_Village,New York,ACCESORIES_1_001_NYC_1
...,...,...,...,...,...,...,...,...
6965701,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia,SUPERMARKET_3_827_PHI_3
6965702,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia,SUPERMARKET_3_827_PHI_3
6965703,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia,SUPERMARKET_3_827_PHI_3
6965704,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia,SUPERMARKET_3_827_PHI_3
6965705,SUPERMARKET_3_827,SUPERMARKET,PHI_3,NaN,1.2000,Queen_Village,Philadelphia,SUPERMARKET_3_827_PHI_3

In [42]:
#base de datos nueva y trasnformada, se procede a descargar y ver la en Power BI
prices_region.to_csv(r'C:\Users\npere\OneDrive\Desktop\Master Data Science\capstone-project\data_dsmarket\Bases de datos modificadas\prices_region.csv', index=False)